@charset "UTF-8";
/* CSS Document */

@media (max-width: 1400px) {

ul#menu li {
	margin-right:20px;
}

ul.social li {
	margin-right:15px;
}

}

@media (max-width: 1200px) {

ul#menu {
	display: none;
}

ul.social {
    display: none;
}

.news-info {
    width: 300px;
    min-height: 200px;
    position: absolute;
	padding: 50px 25px;
}

.news-slider .flex-direction-nav .flex-next {
	right:-30px;
}

.news-slider .flex-direction-nav .flex-prev {
	left:-30px;
}

}

@media (max-width: 991px) {

.team-wrapper {
	height:290px;
}

.circle-team {
    width: 100%;
	height: auto;
	padding-top:23px;
}

.team-img {
    width: 105px;
    height: auto;
	margin-bottom: 25px;
}

.team-linkedin {
    width: 30px;
    height: 30px;
    line-height: 30px;
	font-size: 14px;
}


}


@media (max-width: 768px) {

body {font-size:13px;}
h1 {font-size:36px;}
h2 {font-size:24px;}
h3 {font-size:16px;}
p {font-size:14px;}

.mobile-dis {display:none;}

#home {padding-top: 70px;}

#home img {max-width: 300px;}

#about {
	background-position: center bottom;
}

.flexslider .flex-direction-nav {display:none;}
.news-slider .flex-direction-nav {display:none;}

.circle-team {
    width: 170px;
    height: 170px;
    padding-top: 25px;
}

.team-img {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}

.team-linkedin {
    width: 35px;
    height: 35px;
    line-height: 35px;
	font-size: 16px;
}

.team-wrapper {
	height:290px;
}

.subscription {
    bottom: 10px;
	right: 10px;
}

.subscribe-btn {
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    font-size: 10px;
}

.cookie-content {
    width: 480px;
}

}

@media (max-width: 480px) {	

header {
    padding: 0px 20px;
}

#logo {
    width: 145px;
    height: 23px;
    margin-top: 30px;
}

.lng-mobile {
	padding: 20px 0 20px 25px;
	font-size:14px;
}

.social-mobile {
	padding: 20px 0 20px 25px;
}

.cookie-content {
    width: 300px;
    padding: 30px 15px;
}

}

